<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="QL_DTDD1ConnectionString" connectionString="Data Source=DESKTOP-5QPTR6K\SQLEXPRESS;Initial Catalog=QL_DTDD1;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="QL_DTDD1ConnectionString2" connectionString="Data Source=DESKTOP-5QPTR6K\SQLEXPRESS;Initial Catalog=QL_DTDD1;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="QL_DTDD1ConnectionString3" connectionString="Data Source=DESKTOP-5QPTR6K\SQLEXPRESS;Initial Catalog=QL_DTDD1;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="QL_DTDD1ConnectionString4" connectionString="Data Source=DESKTOP-5QPTR6K\SQLEXPRESS;Initial Catalog=QL_DTDD1;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
